<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%= link_to root_path do%>Home<%end%></span>
    <span>/</span>
    <span class="breadcrumb-active">About</span>
  </div> -->
  <div class="heroimage about-hero">
    <span class="pagename">About</span>
    <p>Let me tell you about something not on my resume.</p>
  </div>
  <div class="about-box center">
    <div class="about-bio">
      <p>Thanks for visiting my site! </p>
      <p>A little bit more about me,</p>
      <ul>
        <li>I was born and raised in Kaohsiung, Taiwan, a lovely harbor city.</li>
        <li>Studied and worked as a web developer in Tokyo, Japan.</li>
        <li>An introvert, prefer quiet and calm environments.</li>
        <li>A strategic thinker, plan for everything, very organized.</li>
        <li>Intuitive, imaginative, curious, enjoy digging into why to explore hidden meaning.</li>
        <li>Favor of logic.</li>
      </ul>
      <p>
        Let’s connect via <a href="https://linkedin.com/in/hungyi-lee/" target="_blank">LinkedIn</a>, or shoot me an <a href="mailto:contact@hungyilee.com?body=Hi%20Hungyi%2C">email</a> if you’re interested in knowing more about me.
      </p>

    </div>
      <div class="about-myphoto" >
         <%= render 'works/profile_image' %>
      </div>
  </div>
</div>
<%= render 'home/back_home' %>
