<div class="section m-t-150 m-b-50">
  <div class="about-box center">
    <div class="about-myphoto"></div>
    <div class="about-bio">
      <div class="about-title">Why are you a designer ?</div>
      <p>
         The turning point is in Tokyo.
         I learned programming and felt that programming was fascinating, and hence, I committed myself to career transition as I finished the first year of doctoral studies in Linguistics.
         I started working as a web developer and collaborated with a UX designer.
         I learned that being a UX designer is inspiring because I can identify people's pain points and create solutions for that.
         Also, I believe that my developing experiences help me make more detailed and better design deliverables.
         Thus, I decided to turn myself to UX designer after moving to Seattle.
      </p>
      <!-- <br/><div class="about-title">How do I learn UX design ?</div> -->
      <!-- <p>
        I attended an online UX design bootcamp, started working on projects with mentors, and experienced an internship.
        Besides, I read articles, connect with people, steal ideas from outstanding portfolios, practice design exercise to strengthen my design thinking, and work on non-profit organizations' projects.
        Also, I continually try new wireframing or prototyping tools since I have curiosity about them and would like to expand my skills.
        I'm' glad to make the switch. There's so much about UX that I'm eager to learn.
        It’s a good indicator that I have chosen a path correctly.
        In the future, I'm willing to constantly challenge myself and learn more skills to enrich my thoughts and life.
      </p> -->
      <br/><div class="about-title">What is your design philosiphy ?</div>
        <ul>
          <li>Empathy and focus - empathy with the users and place their needs first.</li>
          <li>Simplicity - less is more, I enjoy pushing myself to understand what is really important and designing simple solutions.</li>
          <li>Design for functional than the aesthetic - making a product useful.</li>
          <li>See feedback as a gift - Feedback helps me to achive better design, and to improve as a designer.</li>
        </ul>
      <!-- <br/><div class="about-title">What is your design principle ?</div> -->
        <!-- <ul> -->
          <!-- <li>Meet the users' needs -  focus on users throughout the design process. After all, the 'U' in UX stands for 'User'.</li> -->
          <!-- <li>Usability first - be intuitive, provide feedback.</li> -->
          <!-- <li>Less is more - reducing the operational and cognitive costs of the users. </li> -->
          <!-- <li>Consistency - to reduce the user's learning costs, the user's cognitive costs, and the probability of misuse.</li> -->
          <!-- <li>Understand accessibility - designer’s responsibility is to make sure that his design is usable for as many people as possible. </li> -->
        <!-- </ul> -->
      <br/><div class="about-title">Where to find you ?</div>
      <div class="about-icons">
        <%= render 'home/social_media_icon' %>
      </div>
    </div>
  </div>
</div>
<div class="section ">
  <%= render 'home/back_home' %>
</div>
