<div class="section m-t-150 m-b-150">
  <div class="about-myphoto"></div>
  <div class="about-title">Thanks for coming!</div>
  <div class="about-bio">
    <p>Hungyi used to do graphic design for some business. But she viewed the creative side of her as a hobby instead of a career until she had an opportunity to work with an UI/UX designer.</p>
    <p>She was a web developer in Tokyo, Japan and worked closely with UI/UX designers. She learned that as an  UI/UX designer, she can identify user's pain point and create solutions to help user figure out their problem. She felt that is inspiring and willing to lump her engineering experiences and design skills together to work efficiently.</p>
    <p>She's a diligent, logical, creative person and willing to constantly challenge herself and learn new skills to enrich her thoughts and life.</p>
  </div>
  <div class="social-media-icons">
    <%= render 'home/social_media_icon' %>
  </div>
  <div class="about-btn">
    <%= link_to resume_path do %>
      <div class="resume-btn">RÉSUMÉ</div>
    <% end %>
    <%= mail_to "horngyi6527@gmail.com" do %>
      <div class="request-work-btn">WORK WITH ME</div>
    <% end %>
  </div>
</div>
