<div class="section m-t-70">
  <div class="heroimage about-hero">
    <span class="pagename">About</span>
    <p>Thanks for visiting my site! Let me tell you about something not on my resume.</p>
  </div>
  <div class="about-box center">
    <div class="about-bio">
      <p>"Think more, create less" is my design philosophy;
          "Opportunity first, limitation later" is my leadership style;
          "No expectation no pain" is my wisdom for life.
      </p>
      <p>
        I like to spend about 70% of my time identifying the right problem, sticking to it, and avoiding over-design.
        When it comes to collaborating on solutions, I always encourage myself and my team to go as wild as we can, then discuss limitations.
        Most importantly, lowering expectations helps us develop more resilience in the face of failure and iteration.
      </p>
      <p>
        My interdisciplinary background shows that I'm a lifelong learner and someone who is always seeking new challenges.
        I studied for a Master’s in Linguistics, worked as a web developer in Tokyo, and then transitioned to UX design.
        These knowledge inspired my problem-solving approach, and also honed my communication and critical thinking skills.
      </p>
      <p>
        Outside of work, I enjoy reading and traveling.
        Reading allows me to mentally explore different worlds, while traveling provides a physical adventure!
      </p>
    </div>
      <div class="about-myphoto" >
         <%= render 'works/profile_image' %>
      </div>
  </div>
</div>
<%= render 'home/back_home' %>
