<div class="section m-t-150 m-b-50">
  <div class="about-box center">
    <div class="about-myphoto"></div>
    <div class="about-bio">
      <div class="about-title">Thanks for comming!</div>
      <p>Hungyi’s background is Linguistics, but she taught herself graphic design and started working as a freelancer for some business in her spare time. However, she aimed to be a teacher rather than a designer at that time. Therefore, she viewed the creative side of her as a hobby instead of a career.</p>
      <p>Afterwards, she continued her academy and learned programming in Tokyo. She felt that programming was fascinating, and hence, she committed herself to career transition as she finished the first year of doctoral studies. She worked as a web developer and collaborated with a UI/UX designer. She learned that being a UI/UX designer is inspiring because she can identify people's pain points and create solutions for that. Also, she believes that her developing experiences help her make more detailed and better design deliverables. </p>
      <p>she currently lives in Seattle and enrolled in UX design online program to advance her design thinking and skills. She is glad to made the switch. There’s so much about UI/UX that she is eager to learn more about. It’s a good indicator that she has chosen a path correctly. In the future, she is willing to constantly challenge herself and learn more skills to enrich her thoughts and life.</p>
      <p>Check out my <%= link_to resume_path do %>resume<%end%> or learn more about me through the following social network:
      <div class="social-media-icons about-icons">
        <%= render 'home/social_media_icon' %>
      </div>
    </div>
  </div>
</div>
<div class="section ">
  <%= render 'home/back_home' %>
</div>
