<div class="section m-t-150 m-b-150">
  <div class="about-myphoto"></div>
  <div class="about-title">ABOUT ME</div>
  <div class="about-bio">
    I am a designer, a developer, a blogger, a giver and a receiver.
    I am originally from Kaohsiung, Taiwan, and studied and worked about 5 years in Tokyo, Japan and currently live in Seattle, US.
    I am willing to lump my design skills and progamming skills together to work efficiently.
    I hope you enjoy my portfolio.
  </div>
  <div class="social-media-icons">
    <%= render 'home/social_media_icon' %>
  </div>
  <div class="about-btn">
    <%= link_to "https://drive.google.com/file/d/1L6XrO1ZbdMT8DRtHIW7ewkKQbxAsp6v0/view?usp=sharing", target: "_blank" do %>
      <div class="resume-btn">VIEW MY RÉSUMÉ</div>
    <% end %>
    <%= mail_to "horngyi6527@gmail.com" do %>
      <div class="request-work-btn">REQUEST SAMPLE WORK</div>
    <% end %>
  </div>
</div>
