<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%= link_to root_path do%>Home<%end%></span>
    <span>/</span>
    <span class="breadcrumb-active">About</span>
  </div> -->
  <div class="heroimage about-hero">
    <span class="pagename">About</span>
    <p>Let me tell you about something not on my resume.</p>
  </div>
  <div class="about-box center">
    <div class="about-bio">
      <div class="about-title">Who are you?</div>
      <p>
        I am a Taiwanese UX designer.
        Currently I’m living in Seattle, WA.
        In groups, I’m a reliable and energetic team asset who strives for the success of each project and loves challenges.
        As a designer, I always bring to the table refined skills and a positive attitude.
      </p>
      <div class="about-title">Why are you a designer ?</div>
      <p>
         The turning point was in Tokyo.
         <%# I learned programming and felt that programming was fascinating, and hence, I committed myself to career transition as I finished the first year of doctoral studies in Linguistics. %>
         I collaborated with a UX designer closely.
         I learned that being a UX designer is inspiring since designers can identify people's problems and create solutions for them.
         I like studying people and the process of thinking solutions.
         <%# Also, I believe that my developing experiences help me make more detailed and better design deliverables. %>
         Thus, I decided to turn my career path to UX design.
      </p>
      <div class="about-title">What is your design philosiphy ?</div>
        <ul>
          <li>Empathy and focus - empathy with the users and place their needs first.</li>
          <li>Simplicity - less is more, I enjoy pushing myself to understand what is really important and designing simple solutions.</li>
          <!-- <li>Design for functional than the aesthetic - making a product useful.</li> -->
          <li>See feedback as a gift - Feedback helps me to achieve better design, and to improve as a designer.</li>
        </ul>
        <!-- <div class="about-title">What do you like to do outside of work ?</div> -->
        <!-- <p>
          I like reading, with various topics including behavioral psychology, entrepreneurship and productivity.
          Besides, sometimes I write my thoughts and experience on the various topics of design at <#%= link_to sideprojects_path do%>My Blog<#%end%>. -->
          <!-- It's a good training for communicating concisely. -->
        <!-- </p> -->
      <!-- <br/><div class="about-title">What is your design principle ?</div> -->
        <!-- <ul> -->
          <!-- <li>Meet the users' needs -  focus on users throughout the design process. After all, the 'U' in UX stands for 'User'.</li> -->
          <!-- <li>Usability first - be intuitive, provide feedback.</li> -->
          <!-- <li>Less is more - reducing the operational and cognitive costs of the users. </li> -->
          <!-- <li>Consistency - to reduce the user's learning costs, the user's cognitive costs, and the probability of misuse.</li> -->
          <!-- <li>Understand accessibility - designer’s responsibility is to make sure that his design is usable for as many people as possible. </li> -->
        <!-- </ul> -->
    </div>
    <div class="about-myphoto"><%= render 'works/profile_image' %></div>
  </div>
</div>
<%= render 'home/back_home' %>
