<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%= link_to root_path do%>Home<%end%></span>
    <span>/</span>
    <span class="breadcrumb-active">About</span>
  </div> -->
  <div class="heroimage about-hero">
    <span class="pagename">About</span>
    <p>Let me tell you about something not on my resume.</p>
  </div>
  <div class="about-box center">
    <div class="about-bio">
      <div class="about-title">Who are you?</div>
      <p>
        I work at Samsung as a UX designer. In the meanwhile, I am a pâtissier.
        <a href="https://www.instagram.com/2023_patisserie/" target="_blank">2023 Patisserie</a> is my small dessert bussiness.
        Previously, I was a developer who mainly worked on front-end development and was a Linguistics who studied Japanese Linguistics.
        No matter which role I am in, I always embrace challenges, love problem-solving, learn, then grow.
      </p>
      <div class="about-title">How do you feel about transferring to UX from other industries?</div>
      <p>
         It's definitely not an easy thing, but worth it. I didn't regret all my previous experiences.
         Much of what I stumbled into by following my curiosity and intuition turned out to be priceless later on.
         Like Steve Jobs said, "You can't connect the dots looking forward; you can only connect them looking backward".
      </p>
      <div class="about-title">What is your design philosophy ?</div>
        <ul>
          <li>Empathy and focus - empathy with the users and place their needs first.</li>
          <li>Simplicity - less is more, I enjoy pushing myself to understand what is really important and designing simple solutions.</li>
        </ul>
      <div class="about-title">Do you think coding is necessary for a UX designer?</div>
      <p>
        Learning new thing is always good. However, time is limited.
        From my perspective, coding is a plus skill but not a necessary skill for a UX designer.
        Deepen the understaning of UX process and your users, strengthen the communication with stakeholders, and get familiar with design softwares are much more important than learning coding.
        Developers has a different goal and focus from designers.
        I'd suggest frequently communicate with developers, understand their needs, and go through designs with them in details.
      </p>
          <!-- It's a good training for communicating concisely. -->
        <!-- </p> -->
      <!-- <br/><div class="about-title">What is your design principle ?</div> -->
        <!-- <ul> -->
          <!-- <li>Meet the users' needs -  focus on users throughout the design process. After all, the 'U' in UX stands for 'User'.</li> -->
          <!-- <li>Usability first - be intuitive, provide feedback.</li> -->
          <!-- <li>Less is more - reducing the operational and cognitive costs of the users. </li> -->
          <!-- <li>Consistency - to reduce the user's learning costs, the user's cognitive costs, and the probability of misuse.</li> -->
          <!-- <li>Understand accessibility - designer’s responsibility is to make sure that his design is usable for as many people as possible. </li> -->
        <!-- </ul> -->
    </div>
    <!-- <div class="about-myphoto"><#%= render 'works/profile_image' %></div> -->
  </div>
</div>
<%= render 'home/back_home' %>
