<div class="section m-t-150 m-b-50">
  <div class="about-box center">
    <div class="about-myphoto"></div>
    <div class="about-bio">
      <div class="about-title">My Story</div>
      <p>My background is Linguistics, but I taught myself graphic design and started working as a freelancer for some business in my spare time. However, I aimed to be a teacher rather than a designer at that time. Therefore, I viewed the creative side of mine as a hobby instead of a career.</p>
      <p>Afterwards, I continued my academy and learned programming in Tokyo. I felt that programming was fascinating, and hence, I committed myself to career transition as I finished the first year of doctoral studies. I worked as a web developer and collaborated with a UI/UX designer. I learned that being a UI/UX designer is inspiring because I can identify people's pain points and create solutions for that. Also, I believe that my developing experiences help me make more detailed and better design deliverables. </p>
      <p>I currently lives in Seattle and just completed a UX design online program. I also experienced a 4-weeks UX desisgn internship to my my design skills.
         I'm' glad to make the switch. There’s so much about UI/UX that I'm eager to learn. It’s a good indicator that I have chosen a path correctly. In the future, I'm willing to constantly challenge myself and learn more skills to enrich my thoughts and life.</p>
      <p>Check out my <%= link_to resume_path do %>resume<%end%> or learn more about me through the following social network:
      <div class="social-media-icons about-icons">
        <%= render 'home/social_media_icon' %>
      </div>
    </div>
  </div>
</div>
<div class="section ">
  <%= render 'home/back_home' %>
</div>
