<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%= link_to root_path do%>Home<%end%></span>
    <span>/</span>
    <span class="breadcrumb-active">About</span>
  </div> -->
  <div class="heroimage about-hero">
    <span class="pagename">About</span>
    <p>Let me tell you about something not on my resume.</p>
  </div>
  <div class="about-box center">
    <div class="about-bio">
      <p>Thanks for visiting my site! A little bit more about me, </p>
      <p>
        I'm a UX designer based in Seattle with a knack for understanding user preferences and combining them with excellent visual design and research skills to create seamless experiences.
      </p>
      <p>
        I have an interdisciplinary background.
        I studied Linguistics, worked as a web developer in Tokyo, and then transitioned to UX design.
        These experiences have inspired my problem-solving approach and honed my communication and collaboration skills.
      </p>
      <p>
        Outside of work, I enjoy reading and traveling.
        Reading allows me to mentally explore different worlds, while traveling provides a physical adventure!
      </p>

      <p>
        Let’s connect via <a href="https://linkedin.com/in/hungyi-lee/" target="_blank">LinkedIn</a>, or shoot me an <a href="mailto:contact@hungyilee.com?body=Hi%20Hungyi%2C">email</a> if you’re interested in knowing more about me.
      </p>

    </div>
      <div class="about-myphoto" >
         <%= render 'works/profile_image' %>
      </div>
  </div>
</div>
<%= render 'home/back_home' %>
