<div class="section projects">
  <!-- Pikemarket -->
  <div class="project">
    <div class="project-image">
      <img class="image" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/028a0093823859.5e6f02ec7482a.jpg">
    </div>
    <div class="project-description">
        <div class="project-title">Sunset Supper at Pike Market</div>
        <div class="project-category">
          <!-- time -->
          2019/07/17, Seattle, US
        </div>
        <div class="brief-description">
          <!-- description -->
          Design 2 flyers for Sunset Supper at Pike Market
        </div>
        <div class="project-link">
          <%= link_to "https://www.behance.net/gallery/93823859/Sunset-Supper?", target:"_blank", class:"view-more-btn center" do %>Read More<% end %>
        </div>
      </div>
  </div>
  <!-- Stamps -->
  <div class="project">
    <div class="project-image">
      <img class="image" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/17a3b181677165.5d073d390f9f2.jpg">
    </div>
    <div class="project-description">
        <div class="project-title"> A stamp illustration project</div>
        <div class="project-category">
          <!-- time -->
          2019/04/10, Seattle, US
        </div>
        <div class="brief-description">
          <!-- description -->
           Remarkable features of Seattle
        </div>
        <div class="project-link">
          <%= link_to "https://www.behance.net/gallery/81677165/Graphic-Design-All-about-Seattle", target:"_blank", class:"view-more-btn center" do %>Read More<% end %>
        </div>
      </div>
  </div>
  <!-- ChenGuan -->
    <div class="project">
      <div class="project-image">
        <img class="image" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/8269ff82736523.5d267c4bd6081.png">
      </div>
      <div class="project-description">
          <div class="project-title">Chen Guang</div>
          <div class="project-category">
            <!-- time -->
            2018/07/10, Taiwan
          </div>
          <div class="brief-description">
            <!-- description -->
            Create Logo and book covers for Chen Guang, an educational institute
          </div>
          <div class="project-link">
            <%= link_to "https://www.behance.net/gallery/82736523/Graphic-Design-Cheng-Guang", target:"_blank", class:"view-more-btn center" do %>Read More<% end %>
          </div>
        </div>
    </div>
  <!-- W&L-->
  <div class="project">
    <div class="project-image">
      <img class="image" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/50efcc81879303.5d0eb73e2d6e1.png">
    </div>
    <div class="project-description">
        <div class="project-title">W&L</div>
        <div class="project-category">
          <!-- time -->
          2015/04/10, Taiwan
        </div>
        <div class="brief-description">
          <!-- description -->
          Design Logo, name card and package for "W&L", a brand of vacuum tube audio
        </div>
        <div class="project-link">
          <%= link_to "https://www.behance.net/gallery/81879303/Graphic-Design-W-L-Audio", target:"_blank", class:"view-more-btn center" do %>Read More<% end %>
        </div>
      </div>
  </div>
</div>
