<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" class="logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 118 118" style="enable-background:new 0 0 118 118;" xml:space="preserve">
<style type="text/css">
	/* .st3{fill-rule:evenodd;clip-rule:evenodd;} */
</style>
<title>Logo</title>
<desc>Created with Sketch.</desc>
<g id="Page-1">
	<g id="Desktop-Home" transform="translate(-57.000000, -47.000000)">
		<g id="Logo" transform="translate(60.000000, 50.000000)">
			<g id="Letters" transform="translate(38.000000, 19.000000)">
				<g id="Fill-2">
					<path class="logoletter" d="M13.7,67.5L0,43h10.3l4.3,8.9c1.2,2.8,2.5,5.5,3.9,8.5h0.3c1.3-3,2.7-5.6,4-8.5L27,43h10L23.3,67.5v8.3
						c0,2.3-2.1,4.2-4.8,4.2s-4.8-1.9-4.8-4.2C13.7,75.8,13.7,67.5,13.7,67.5z"/>
				</g>
				<g id="Fill-1">
					<polygon class="logoletter" points="25.4,0 25.4,16.2 11.6,16.2 11.6,0 0,0 0,42 11.6,42 11.6,24.5 25.4,24.5 25.4,42 37,42 37,0
											"/>
				</g>
			</g>
			<g id="Oval">
				<path d="M56,114.5C23.7,114.5-2.5,88.3-2.5,56S23.7-2.5,56-2.5s58.5,26.2,58.5,58.5S88.3,114.5,56,114.5z M56,2.5
					C26.5,2.5,2.5,26.5,2.5,56s24,53.5,53.5,53.5s53.5-24,53.5-53.5S85.5,2.5,56,2.5z"/>
			</g>
		</g>
	</g>
</g>
</svg>
