<div class="section m-t-150">
  <div class="profile-image"></div>
  <div class="top-greeting">Hello! I'm Hungyi Lee</div>
  <div class="top-introduction">
    I currently live in Seattle.
    I’m a UI/UX designer and embrace challenges, uncertainty and problem solving process.
    <br/>
    Get in touch for design works, or a hello!
    <span class="talk-btn">
      <%= mail_to "horngyi6527@gmail.com" do %>
        Let's talk.
      <% end %>
    </span>
  </div>
  <div class="social-media-icons">
    <%= render 'home/social_media_icon' %>
  </div>
</div>
