<div class="section m-t-200 p-l-80 p-r-80">
  <h2 class="homepage-title-font">Hello!</h2>
  <div class="pink-line m-t-40 m-b-40"></div>
  <p class="homepage-subtitle m-b-40">
     I’m Hungyi, currently live in Seattle.<br/>
     I’m a UI/UX designer and embrace <br/>
     challenges, uncertainty and<br/>
     problem solving process.
  </p>
  <div>
    <span>
      <i class="icon fab fa-behance"></i>
    </span>
  </div>
</div>
