<h1>Projects#edit</h1>
<p>Find me in app/views/projects/edit.html.erb</p>
<br><br><br><br>
  <div class="container">
    <h1>Edit a project</h1>

    <div class="row">
      <br><br>
        <%= render 'project_form'%>
    </div>
  </div>
<br><br><br><br>
