<div class="project-section">
  <!-- left section -->
  <div class="left-section m-t-40">
    <div class="project-list">
        <div class="project-item m-t-40 m-b-20">
          <div class="project-hover-effect m-r-9 m-t-10"></div>
          <div class="project-title">
            <%= link_to project_path(@project) do %>
              Redesign Duolinguo Mobile App <span class="project-category">- UI/UX Design</span>
            <% end %>
          </div>
        </div>
    </div>
  </div>

  <!-- right section -->
  <div class="right-section project-cover-image">
  </div>
</div>
