<h3><b>All Posts</b> (<%=@sideprojects.size%>)</h3><br/>
<h4>Your search "<%= params[:search] %>" didn't match any posts.</h4>
<p>Suggestions:</p>
<ul>
  <li>Make sure that all words are spelled correctly.</li>
  <li>Try different keywords.</li>
  <li>Try fewer keywords.</li>
</ul>
<br/>
