// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section{
  width: 1280px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.homepage-title-font{
  letter-spacing: 6px;
  font-weight: 700;
}

.pink-line{
  width: 70px;
  height: 7px;
  background-color: var(--pink);
}

.homepage-subtitle{
  width: 473px;
  font-size: 25px;
  letter-spacing: 2px;
  overflow-wrap: break-word;
}

.social-media-icons {
  display: flex;
}

.icon{
  height: 20px;
  text-align: center;
  fill: var(--navy)
}

.social-media-icon-boder {
  width: 45px;
  height: 45px;
  border: 1px solid var(--navy);
  border-radius: 22px;
  padding: 9px;
  text-align: center;
  background-color: white;
}

.social-media-icon-boder:hover{
  background-color: var(--navy);
}

.social-media-icon-boder:hover .icon{
  fill: white;
}

.hello-button{
  width: 209px;
  height: 53px;
  background: rgb(121,145,169);
  background: linear-gradient(150deg, rgba(121,145,169,1) 0%, rgba(24,45,66,1) 100%);
  border-radius: 40px;
  text-align: center;
  padding: 13px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
}

.hello-button > a{
  color: white;
}

.hello-button a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.illustration{
  height: 444px;
  width: 709px;
}

@media screen and (max-width: 767px){
  .section{
    width: 100%;
    display:block;
  }

  .left-section{
    width: 100%;
    height: 100%;
    padding: 40px;
  }

  .homepage-subtitle{
    width: 95%;
    font-size: 20px;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    line-height: 32px;
  }

  .illustration{
    height: 444px;
    width: 340px;
  }

  .homepage-title-font{
    margin-top: 90px;
  }

  .right-section, .illustration{
    display: none;
  }
}
