// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-section{
  width: 100%;
  height: 40rem;
  margin: 80px 0 10px 0;
}

.project-category{
  font-weight: 300;
  font-size: 16px;
}

.project-title{
  font-weight: 700;
  font-size: 18px;
}

p > a, .project-title > a{
  color: var(--navy);
}

p > a:hover, .project-title > a:hover{
  text-decoration: none;
  color: var(--navy);
}

.project-item{
  width: 100%;
  vertical-align: middle;
  display: flex;
}

.project-hover-effect{
  width: 30px;
  height: 5px;
  background-color: var(--pink);
  visibility: hidden;
}

.project-item:hover .project-hover-effect{
  visibility: visible;
}

.project-item:hover .project-title{
  transform: translate(20px, 0px);
  transition: transform 0.4s;
}

.project-cover-image{
  width: 50%;
  height: 42rem;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  display: none;
  position: absolute;
  right: 0;
  top: 5rem;
  padding-left: 30px;
}

.menu {
  width: 50%;
  float: left;
  padding: 15px;
}

.first-cover{
  width: 50%;
  height: 42rem;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  // position: relative;
  padding-left: 30px;
  // float: right;
  position: absolute;
  right: 0;
  top: 5rem;
}

// project content
.content-section{
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 80px;
  margin: 0 auto;
}
.content-list{
  width: 100%;
  height: 100%;
  display: flex;
}

.content-list-column1, .content-list-column2, .content-list-column3 {
  width: 33%;
  display: block;
}

.list-item > a:hover {
  opacity: 0.6;
}

.tablet-projects{
  display: none;
}

// tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .desktop-projects{
    display: none;
  }

  .tablet-projects{
    display: block;
  }

  .tablet-cover-image{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
// mobile
@media screen and (max-width: 600px){
  .desktop-projects{
    display: none;
  }

  .tablet-projects{
    display: block;
  }

  .tablet-cover-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tablet-title{
    margin-bottom: 100px;
  }
}
