// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects{
  width: 100%;
  height: 100%;
  padding: 10% 10%;
}

.project{
  width: 100%;
  height: 50%;
  margin: 2%;
  display: flex;
  border-bottom: 2px var(--lightgrey) solid;
}

.project-image{
  width: 35%;
  height: 35%;
  padding: 3%;
  margin-right: 5%;
}

.image{
  width: 100%;
}

.project-description{
  width: 60%;
  padding: 5% 5% 0 0;
}

.project-title{
  font-weight: 700;
  font-size: 2rem;
  color: var(--dusk);
}

.project-category{
  font-weight: 300;
  font-size: 1rem;
  margin-top: 5px;
  color: grey;
}

.brief-description{
  width: 100%;
  padding: 5% 0;
  color: var(--dusk);
  font-weight: 300;
  text-align: justify;
}

.project:last-child{
  border-bottom: none;
}

.project-link{
  width: 100%;
  margin: 2% 0 5% 0;
}

// show page
.project-top{
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: var(--dusk);
  color: white;
  text-align: center;
}

.project-content-title{
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 4.06px;
  text-transform: uppercase;
}

.project-content-category{
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1.33px;
  font-weight: 400;
  margin-bottom: 2%;
}

.foreword{
  width: 65%;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.8;
  text-align: left;
}

.foreword>a{
  color: white;
}

.foreword>a:hover{
  color: var(--salmon-pink);
}

.foreword-title{
  margin: 3% 0 0 0;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}

.iframe-container{
  position: relative;
  width:1 00%;
  padding-bottom: 56.25%;
  height:0
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.open-case-study{
  width: 60%;
  margin: 0 auto;
  display: flex;
}

#readMoreBtn, .open-case-study>a{
  width: 45%;
  padding: 2%;
  margin-left: 3%;
  margin-top: 3%;
  background-color: white;
  color: var(--dusk);
  border-radius: 5px;
}

.open-case-study>a{
  background: var(--dusk);
  color: white;
  border: 1px solid white;
}

.open-case-study>a:hover{
  color: var(--salmon-pink);
  border: 1px solid var(--salmon-pink);
  text-decoration: none;
}

#readMoreBtn:hover{
  color: white;
  background-color: var(--salmon-pink);
  cursor: pointer;
}

#more{
  display: none;
}

.project-detailed-content{
  width: 65%;
  margin: 0 auto;
  padding: 5%;
}

.detail-content{
  width: 100%;
  padding: 8% 0;
}

.detail-content > h4{
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  color: var(--dusk);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.detail-content > p, .detail-content > ul, .detail-content > ol{
  text-align: justify;
  color: var(--dusk);
  font-weight: 350;
}

.detail-content > h6{
  color: var(--dusk);
  font-weight: 600;
}

#closeBtn{
  cursor: pointer;
  color: var(--salmon-pink);
}

.bk-pj-btn {
  width: 300px;
  height: 50px;
  margin: 8% auto;
  text-align: center;
}

// .project-progress-label{
//   text-align: center;
//   letter-spacing: 4px;
//   text-transform: uppercase;
//   font-size: 32px;
//   font-weight: 900;
// }

.content-bottom-section{
  width: 620px;
  margin: 0 auto 80px auto;
  text-align: center;
  display: flex;
}

.more-studies{
  padding: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.03px;
  color: var(--dusk);
}

.bk-pj-btn > a{
  padding: 15px 25px;
  text-decoration: none;
  border: 2px solid var(--dusk);
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 4px;
  border-radius: 5px;
  color: var(--dusk);
}

.bk-pj-btn > a:hover{
  color: white;
  background-color: var(--dusk);
  text-decoration: none;
}

.previous-pj, .next-pj{
  width: 300px;
  height: 340px;
  background-color: var(--lightgrey);
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
}

.previous-pj-img, .next-pj-img{
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  border-radius: 10px 10px 0 0;
}

.previous-pj-title, .next-pj-title{
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.03px;
  margin-bottom: 10px;
  color: var(--dusk);
}

.previous-pj > a, .next-pj > a {
  color: var(--dusk);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--dusk);
  margin: 10px auto;
  border-radius: 5px;
  position: absolute;
  bottom: 3%;
  left: 35%;
}

.previous-pj > a:hover, .next-pj > a:hover{
  color: white;
  background-color: var(--dusk);
  text-decoration: none;
}


// .project-info{
//   width: 75rem;
//   height: 130px;
//   border-top: 2px solid var(--lightgrey);
//   margin: 0 auto;
//   display: flex;
// }

// .project-duration, .project-role, .project-tools, .project-pdf{
//   width: 300px;
//   height: 120px;
//   text-align: center;
//   color: var(--dusk);
//   padding: 25px;
// }

// .project-duration, .project-role, .project-tools{
//   border-right: 2px solid var(--lightgrey);
// }
//
// .duration-title, .role-title, .tools-title, .pdf-title{
//   font-size: 20px;
//   letter-spacing: 4px;
//   text-transform: uppercase;
//   font-weight: 700;
// }

// .duration-date, .role-description, .tools-description, .pdf-description{
//   line-height: 1.4;
//   letter-spacing: 1.33px;
//   color: var(--dusk);
// }

// .project-pdf > p > a{
//   color: var(--dusk);
//   margin-top: 20px;
// }

// .project-hero-image{
//   width: 100%;
//   height: 37.5rem;
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px 0 40px 0;
// }


// tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .projects{
    width: 100%;
    height: 100%;
    padding: 10% 10%;
  }

  .project{
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 2% auto;
    display: block;
  }

  .project-image{
    width: 100%;
    height: 100%;
    padding: 3%;
    margin-right: 5%;
  }

  .image{
    width: 100%;
  }

  .project-description{
    width: 100%;
  }

//   .desktop-projects{
//     display: none;
//   }
//
//   .tablet-projects{
//     display: block;
//   }
//
//   .tablet-cover-image{
//     width: 100%;
//     height: 800px;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     margin-bottom: 30px;
//   }
//
//   a>h2.sm-pj-title, a>p.sm-pj-cat{
//     padding-left: 20px;
//     color: var(--dusk);
//   }
//
//   a>h2.sm-pj-title{
//     font-weight: 700;
//   }
//
  // show page
  .project-info{
    width: 100%;
    height: 130px;
    border-top: 2px solid var(--lightgrey);
    margin: 0 auto;
    display: flex;
  }

  .project-duration, .project-role, .project-tools, .project-pdf{
    width: 33%;
    height: 120px;
    text-align: center;
    color: var(--dusk);
    padding: 25px;
  }

  .project-duration, .project-role, .project-tools{
    border-right: 2px solid var(--lightgrey);
  }

  .duration-title, .role-title, .tools-title, .pdf-title{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
  }

  .duration-date, .role-description, .tools-description, .pdf-description{
    line-height: 1.4;
    letter-spacing: 1.33px;
    color: var(--dusk);
  }

  .project-hero-image{
    width: 100%;
    height: 37.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 0 40px 0;
  }

  .project-content{
    width: 100%;
    margin: 0 auto;
  }

  .project-content-section > h4{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: var(--dusk);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 25px;
  }

  .project-content-section{
    margin-bottom: 60px;
  }

  .content-bottom-section{
    width: 725px;
    margin: 0px auto 170px auto;
    text-align: center;
    display: flex;
  }
}

// mobile
@media screen and (max-width: 600px){
  .projects{
    width: 100%;
    height: 100%;
    padding: 10% 10%;
  }

  .project{
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 2% auto;
    display: block;
  }

  .project-image{
    width: 100%;
    height: 100%;
    padding: 3%;
    margin-right: 5%;
  }

  .image{
    width: 100%;
  }

  .project-description{
    width: 100%;
  }

  .project-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--dusk);
  }

  .project-category{
    font-weight: 300;
    font-size: 0.75rem;
    margin-top: 5px;
    color: grey;
  }

  .brief-description{
    font-size: 0.75rem;
  }

  .project-link{
    margin-bottom: 30px;
  }

//   .desktop-projects{
//     display: none;
//   }
//
//   .tablet-projects{
//     display: block;
//   }
//
//   .tablet-cover-image{
//     width: 100%;
//     height: 400px;
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//   }
//
//   a>h2.sm-pj-title, a>p.sm-pj-cat{
//     padding-left: 20px;
//     color: var(--dusk);
//   }
//
//   a>h2.sm-pj-title{
//     font-weight: 700;
//   }
//
  // show page
  .project-content-title{
    width: 100%;
    height: 100%;
    font-size: 30px;
  }

  .project-info{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 auto;
    display: block;
  }

  .project-duration, .project-role, .project-tools, .project-pdf{
    width: 100%;
    height: 120px;
    text-align: center;
    color: var(--dusk);
    padding: 15px;
  }

  .project-duration, .project-role, .project-tools{
    border: none;
  }

  .duration-title, .role-title, .tools-title, .pdf-title{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
  }

  .duration-date, .role-description, .tools-description, .pdf-title{
    line-height: 1.4;
    letter-spacing: 1.33px;
    color: var(--dusk);
  }

  .project-hero-image{
    width: 100%;
    height: 37.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 0 40px 0;
  }

  .project-content{
    width: 100%;
    margin: 0 auto;
    // padding: 10px;
  }

  .project-content-section > h4{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: var(--dusk);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 25px;
  }

  .project-content-section{
    margin-bottom: 60px;
  }

  .content-bottom-section{
    width: 300px;
    margin: 0 auto;
    display: block;
  }
}
