.resume-section{
  width: 100%;
  margin: 80px auto;
  font-size: 16px;
  padding: 0 15%;
}

.resume-title{
  width: 350px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.66px;
  color: var(--dusk);
}

.job-description{
  color: var(--dusk);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.work-experiences-section{
  display: flex;
}

.work-position-section{
  width: 50%;
}

.work-duties-section{
  width: 60%;
}

.work-duties-section, .work-experiences-section > ul, .skills-section > ul{
  font-weight: 350;
  font-size: 15px;
  color: var(--dusk);
  line-height: 25px;
}

.position, .work-position-section>a{
  color: var(--dusk);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 10px;
}

.work-position-section>a{
  font-size: 17px;
}

.work-dates{
  color: grey;
  font-size: 13px;
  letter-spacing: 1px;
}

.skills-section{
  width:25%;
}

.position > a, .position > a:hover, .work-position-section > a, .work-position-section > a:hover{
  color: var(--dusk);
  text-decoration: none;
}

.position > a:hover, .work-position-section > a:hover{
  color: var(--salmon-pink);
}

.about-bio>p>a{
  color: var(--salmon-pink);
}
.about-bio>p>a:hover{
  opacity: 0.7;
  text-decoration: none;
}

@media screen and (max-width: 767px){
  .resume-section{
    width: 100%;
    margin: 150px auto;
  }

  .work-position-section{
    width: 100%;
  }

  .resume-title{
    width: 100%;
    text-align: center;
  }

  .work-experiences-section, .work-position-section, .work-duties-section{
    width: 100%;
    display: block;
  }

  .work-position-section, .work-duties-section{
    padding: 10px 30px;
  }

    .work-position-section >a {
      font-size: 13px;
    }

  .skills{
    padding: 0 90px;
  }
  .skills-section{
    width: 100%;
  }
}
