.resume-section{
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
  padding: 5% 15% 0;
}

.resume-title{
  width: 100%;
  margin-bottom: 3%;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  color: var(--dusk);
}

.tab, .edutab, .skilltab, .voltab {
  float: left;
  border-left: 1px solid #e3e3e3;
  background-color: white;
  width: 30%;
  // height: 300px;
}

/* Style the buttons inside the tab */
.tab button, .edutab button, .skilltab button, .voltab button {
  display: block;
  background-color: inherit;
  color: var(--dusk);
  padding: 6% 3%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 1px;
}


/* Change background color of buttons on hover */
.tab button:hover, .edutab button:hover, .skilltab button:hover, .voltab button:hover {
  background-color: rgba(255, 127, 130, 0.1);
}

/* Create an active/current "tab button" class */
.tab button.tabactive, .edutab button.tabactive, .skilltab button.tabactive, .voltab button.tabactive {
  font-weight: 700;
  border-left: 3px solid var(--salmon-pink);
  color: var(--salmon-pink);
}

/* Style the tab content */
.tabcontent, .edutabcontent, .skilltabcontent, .voltabcontent {
  float: left;
  padding: 2% 5%;
  // border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  // height: 300px;
}

.tabbox, .tabbox2{
  width: 100%;
  height: 500px;
  display: block;
}

.tabbox1{
  width: 100%;
  height: 370px;
  display: block;
}

.tabbox3{
  width: 100%;
  height: 210px;
  display: block;
}

.work-duties-section{
  font-size: 14px;
  color: var(--dusk);
  line-height: 2;
}

.position{
  color: var(--dusk);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.work-dates{
  color: grey;
  font-size: 13px;
  letter-spacing: 1px;
}

.about-bio > p > a, .work-duties-section > ul > li > a {
  color: var(--dusk);
  text-decoration: underline;
}

.about-bio > p > a:hover, .work-duties-section > ul > li > a:hover{
  color: var(--salmon-pink);
}

.resume-pdfbtn{
  width: 300px;
  height: 50px;
  margin: 4% 0 4%;
  text-align: center;
}

.resume-pdfbtn > a{
  padding: 15px 25px;
  text-decoration: none;
  border: 2px solid var(--dusk);
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 4px;
  border-radius: 5px;
  color: var(--dusk);
}

.resume-pdfbtn > a:hover{
  color: white;
  background-color: var(--dusk);
  text-decoration: none;
}

.work-duties-section ul{
  list-style: none;
  padding-left: 2%;
}

.work-duties-section ul li{
  padding-left: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
  position: relative;
}

.work-duties-section ul li::before{
  content: "▹";
  color: var(--dusk);
  position: absolute;
  left: 0;
}

.work-duties-section > img{
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 5px;
}

// Tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .resume-section{
    padding-top: 10%;
  }

  .tabbox1{
    width: 100%;
    height: 420px;
    display: block;
  }

  .tabbox{
    width: 100%;
    height: 500px;
    display: block;
  }

  .tabbox2{
    height: 450px;
  }
}

@media screen and (max-width: 767px){
  .mb-resume-section, .mb-resume-section4{
    width: 100%;
    padding: 15% 5% 0;
    height: 650px;
  }

  .mb-resume-section2{
    width: 100%;
    padding: 5% 0;
    height: 400px;
  }

  .mb-resume-section3{
    margin-bottom: 5%;
    height: 720px;
  }

  .mb-resume-section4{
    height: 800px;
  }

  .resume-title{
    text-align: center;
  }

  .resume-pdfbtn{
    margin: 10% auto 5%;
  }

  .work-position-section, .work-duties-section{
    padding: 10px;
  }

  .bs-tab{
    display: none;
  }

  .tab, .edutab, .skilltab, .voltab {
    border-left: none;
    background-color: white;
    width: 30%;
  }
  .tab button,
  .edutab button,
  .skilltab button,
  .voltab button {
    display: block;
    background-color: inherit;
    color: var(--dusk);
    padding: 5% 3%;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
  }
  .tab button.tabactive,
  .edutab button.tabactive,
  .skilltab button.tabactive,
  .voltab button.tabactive {
    font-weight: 700;
    border-left: none;
    border-bottom: 3px solid var(--salmon-pink);
    color: var(--salmon-pink);
  }
  .tabcontent,
  .edutabcontent,
  .skilltabcontent,
  .voltabcontent {
    padding: 2%;
    width: 100%;
    border-left: none;
  }
  .work-experiences-section,
  .work-position-section,
  .work-duties-section,
  .resume-title,
  .sm-tab {
    width: 100%;
    display: block;
  }
  .sm-tab{
    display:flex;
    border-bottom: 1px solid #e3e3e3;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

}
