// Place all the styles related to the sideprojects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-section{
  width: 100%;
  margin: 0 auto;
  padding: 5% 10% 0;
  color: var(--dusk);
}

.blog-top-categories{
  width: 100%;
  display: flex;
  margin-bottom: 7%;
}

.categories{
  width: 75%;
  display: flex;
}

.h-form{
  width: 25%;
  vertical-align: middle;
}

.blog-cat-item{
  margin-right: 5%;
}

.categories > .blog-cat-item > a{
  color: var(--dusk);
}

.blog-cat-item-active{
  padding-bottom: 10px;
  border-bottom: 4px solid var(--dusk);
  font-weight: 600;
}

// featured posts
.featured-posts{
  display: flex;
  width: 100%;
  margin-bottom: 7%;
}

.post1{
  width: 40%;
  margin-right: 4%;
  position: relative;
}

.rest-posts{
  width: 58%;
}

.post1-content{
  padding: 2%;
}

.post-lang, .rest-post-lang{
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 3%;
  background-color: black;
  color: white;
}

.post-tag{
  color: grey;
  margin-bottom: 8px;
  font-size: 0.9em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.post-title{
  font-weight: 700;
  line-height: 30px;
  text-align: justify;
}

.post1-content > a, .post1-content > a:hover, .rest-post-content > a, .rest-post-content > a:hover{
  color: var(--dusk);
  font-weight: bold;
}

.foreword{
  color: grey;
  text-align: justify;
}

.rest-post{
  width: 100%;
  height: 31%;
  margin-bottom: 3%;
  display: flex;
}

.rest-post-lang{
  width: 40px;
  height: 40px;
  padding: 3%;
}

.rest-post-img{
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.rest-post-content{
  width: 65%;
  margin-left: 2%;
}

.rest-post-content >.post-tag, .rest-post-content > .foreword{
  color: grey;
  font-size: 0.9rem;
  text-align: justify;
}

.rest-post-content >.post-tag{
  letter-spacing: 0.06em;
}

.rest-post-content > .post-title{
  font-size: 1.25rem;
  line-height: 25px;
}

.al-posts{
  width: 100%;
}

.al-post{
  width: 31%;
  margin-right: 2%;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}

.al-post > .post1-content >.post-title{
  font-size: 1.25em;
}

.blog-show-section > ul > li > b > a,
.blog-show-section > ul > li > b > a:hover{
  color: var(--dusk);
  line-height: 2;
}
// blog-show
.blog-show-section{
  width: 100%;
  margin: 60px auto;
  padding: 7% 15% 0;
  color: var(--dusk);
}

// only show in mobile
.mbonly-title{
  display: none;
}

// Tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .blog-section{
    width: 100%;
    padding: 10% 5% 0;
  }

  .categories{
    width: 80%;
  }

  .h-form{
    width: 20%;
  }

  .blog-cat-item{
    margin-right: 4%;
  }

  .post1{
    display: none;
  }

  .rest-posts{
    width: 100%;
    height: 470px;
  }

  .al-post{
    width: 30%;
  }

  // blog-show
  .blog-show-section, .blog-show-section2{
    width: 100%;
    margin: 60px auto;
    padding: 12% 10% 0;
  }

  .blog-show-section2{
    padding-top: 0;
  }

  // only show in mobile
  .mbonly-title{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .blog-section{
    width: 100%;
    padding: 23% 5% 0;
  }

  .blog-top-categories{
    display: table;
    box-orient: vertical;
  }

  .categories{
    width: 100%;
    margin-top: 7%;
    display: block;
  }

  .h-form{
    width: 100%;
    display: table-header-group;
  }

  .mbonly-title{
    display: block;
  }

  .blog-cat-item{
    padding: 5% 0;
    border-bottom: 1px solid var(--lightgrey);
  }

  .blog-cat-item-active{
    border-bottom: 4px solid var(--dusk);
  }

  .post1{
    display: none;
  }

  .rest-posts{
    width: 100%;
  }

  .rest-post{
    width: 100%;
    height: 450px;
    display: block;
  }

  .rest-post-img{
    width: 100%;
    height: 50%;
  }

  .post-tag{
    color: grey;
    margin-bottom: 8px;
    font-size: 0.9em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  .rest-post-content, .al-post{
    width: 100%;
    margin-left: 0;
    padding: 2%;
  }

  .rest-post-content > a, .al-post > .post1-content > a{
    text-decoration: underline;
  }

  .rest-post-content > .post-title,
  .al-post > .post1-content > .post-title{
    font-size: 1.1rem;
    line-height: 25px;
  }

  .featured-posts{
    display: block;
  }

  .al-post > .post1-content > .foreword{
    font-size: 0.9rem;
  }

  .al-post > .post-lang{
    margin-top: 2%;
    margin-right: 2%;
  }

  // blog-show
  .blog-show-section, .blog-show-section2{
    width: 100%;
    margin: 20px auto 60px;
    padding: 30% 5% 0;
  }

  .blog-show-section2{
    padding-top: 0;
  }


  .blog-show-section > .project-detailed-content > h3{
    font-size: 24px;
    line-height: 1.4;
  }
}
