// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-myphoto{
  width: 950px;
  height: 465px;
  background-image: url('https://previews.123rf.com/images/captblack76/captblack761210/captblack76121000063/15975743-vertical-view-of-eiffel-tower-and-cityscape-paris-france.jpg');
  background-size: cover;
  margin: 50px auto 0 auto;
}

.about-title{
  width: 950px;
  height: 52px;
  font-family: Raleway-bold;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.66px;
  text-align: center;
  color: var(--dusk);
  margin: 55px auto 0 auto;
}

.about-bio{
  width: 846px;
  height: 112px;
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.33px;
  text-align: left;
  color: var(--dusk);
  margin: 30px auto 0 auto;
}

.about-btn{
  width: 750px;
  height: 72px;
  margin: 65px auto 0 auto;
  display: flex;
}

.resume-btn, .request-work-btn{
  width: 345px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid var(--dusk);
  margin-right: 18px;
  text-align: center;
  font-family: Raleway-bold;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.03px;
  text-align: center;
  background-color: white;
  padding: 22px;
}

a > .resume-btn, a > .request-work-btn{
  color: var(--dusk);
}

.about-btn > a:hover {
  text-decoration: none;
  color: white;
}

.resume-btn:hover, a > .request-work-btn:hover{
  background-color: var(--dusk);
  color: white;
}


// Tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .about-bio{
    height: 100%;
  }

  .about-myphoto, .about-title, .about-bio{
    width: 100%;
    padding: 10px;
  }

  .about-btn{
    width: 700px;
  }
}

// Mobile
@media screen and (max-width: 767px){
 .about-myphoto, .about-title, .about-bio, .social-media-icons{
   width: 100%;
   padding: 10px;
 }

 .about-bio{
   height: 100%;
 }

 .about-btn{
   display: block;
   width: 100%;
 }

 .resume-btn, .request-work-btn{
   width: 40%;
   margin: 0;
   font-size: 12px;
   padding: 15px 5px;
   margin: 10px auto;
   background-color: white;
   border: 1px solid var(--dusk);
 }

 a > .resume-btn, a > .request-work-btn{
   color: var(--dusk);
 }

}
