// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-box{
  // display: flex;
  width: 100%;
  padding: 0 20%;
  margin: 0 auto;
}

.about-myphoto{
  width: 100%;
  height: 350px;
  background-image: url('https://live.staticflickr.com/65535/49184658617_81db544fff_o.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.about-title{
  // width: 950px;
  // height: 80px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  // text-align: center;
  color: var(--dusk);
  margin-bottom: 5px;
}

.about-bio{
  width: 100%;
  // width: 55%;
  height: 100%;
  font-size: 15px;
  line-height: 1.7;
  // letter-spacing: 1px;
  text-align: justify;
  color: var(--dusk);
  // margin: 30px auto 0 auto;
}

.about-bio > p, .about-bio>ul>li{
  font-weight: 300;
}

.about-icons{
  display: flex;
  width: 100%;
  height: 20px;
  margin-left: 5px;
  margin-top: 10px;
}

// Tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .about-box{
    // display: flex;
    width: 100%;
    padding: 0 10%;
    // margin: 0 auto;
  }

  .about-myphoto{
    width: 100%;
    margin-bottom: 50px;
  }

  .about-bio{
    height: 100%;
    text-align: justify;
  }

  // .about-myphoto, .about-title, .about-bio{
  //   width: 100%;
  //   padding: 40px;
  // }
}

// Mobile
@media screen and (max-width: 767px){
 .about-box{
   width: 100%;
   display: block;
   padding-left: 20px;
   padding-right: 20px;
 }

 .about-myphoto{
   width: 90%;
   height: 200px;
   margin-bottom: 50px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 auto;
 }

 .about-title{
   text-align: left;
   font-size: 16px;
   margin-bottom: 10px;
 }

 .about-bio{
   width: 100%;
   padding: 25px;
   text-align: justify;
 }

 .about-bio{
   height: 100%;
 }
}
