// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-box{
  display: flex;
  width: 100%;
  padding: 6% 12% 0;
  margin: 0 auto;
}

.about-myphoto{
  width: 40%;
  height: auto;
  margin-left: 3%;
  padding: 5% 0 0 0;
}

.about-bio{
  width: 55%;
  height: 100%;
  padding-top: 2%;
  font-size: 14px;
  line-height: 1.9;
  text-align: justify;
  color: var(--dusk);
  margin-left: 4%;
}

.about-title{
  font-size: 1rem;
  font-weight: bold;
  // letter-spacing: 0.5px;
  color: var(--dusk);
  margin-bottom: 5px;
}

// Tablet
@media (min-width: 768px) and (max-width: 1300px) {
  .about-box{
    width: 100%;
    display: table;
    padding: 0 15% 0;
    margin: 0 auto;
  }

  .about-myphoto{
    width: 70%;
    margin: 0 auto;
    // height: 50%;
    // margin-bottom: 50px;
    display: table-header-group;
  }

  .about-bio{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    display: table-footer-group;
  }
}

// Mobile
@media screen and (max-width: 767px){
 .about-box{
   width: 100%;
   display: block;
   padding: 0 7% 5%;
   display: table;
 }

 .about-myphoto{
   width: 90%;
   margin: 0 auto;
   display: table-header-group;
 }

 .about-bio{
   width: 100%;
   padding: 5%;
   margin-left:0;
   text-align: justify;
   display: table-footer-group;
 }

 .about-title{
   text-align: left;
   font-size: 16px;
   margin-bottom: 10px;
 }
}
