<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%#= link_to root_path do%>Home<%#end%></span>
    <span>/</span>
    <span class="breadcrumb-active">Resume</span>
  </div> -->
  <div class="heroimage resume-hero">
    <span class="pagename">Resume</span>
    <p>This is where I present my accomplishments, background, and  skills.</p>
  </div>
</div>
<div class="resume-section">
  <div class="resume-pdfbtn">
    <%= link_to "https://drive.google.com/file/d/19MDqt6cuuXd3doBSH6N7pPDEv5KzX4E5/view?usp=sharing", target: "_blank" do %>
    Download PDF Resume
    <% end %>
  </div>
</div>
<div class="work-exp-section mb-resume-section4">
  <div class="resume-title">Working Experience</div>
    <div class="tabbox">
      <div class="tab bs-tab sm-tab">
        <button class="tablinks" onclick="openJob(event, 'SS')" id="defaultOpen">Samsung Electronics</button>
        <button class="tablinks" onclick="openJob(event, 'PSP')" id="defaultOpen">PSPinc</button>
        <button class="tablinks" onclick="openJob(event, 'HelpArt')">Knack</button>
        <button class="tablinks" onclick="openJob(event, 'P5')" >Project5</button>
        <button class="tablinks" onclick="openJob(event, 'ME')">Metro Engines</button>
      </div>
      <div id="SS" class="tabcontent">
        <div class="position">UX Designer III @ Samsung Electronics America</div>
        <div class="work-dates">Mar. 2022 - Present | Bellevue, WA</div>
        <div class="work-duties-section">
          <p><b>Led the design of the FirstNet Push-to-Talk app for first responders, improving communication efficiency.</b> <a href="https://www.hungyilee.com/projects/FirstNet%20Push-to-Talk%20Mobile%20App%20Redesign">(View case study)</a></p>
          <ul>
            <li>Increased emergency alert sending completion rate from 0% to 100%.</li>
            <li>Enhanced situation awareness by 76%.</li>
            <li>Established a comprehensive design system and symbol library, increasing work efficiency by 70% across design, development, and testing teams, and resolving 97% of design inconsistencies.</li>
            <li>Successfully filed a utility patent (WD-202312-032-1US0) for a message management design solution.</li>
          </ul>
          <p><b>Led the design of the payment strategy for Samsung Wallet to maximize user benefits.</b> <a href="https://www.hungyilee.com/projects/Samsung%20Wallet%20App%20Enhancement">(View case study)</a></p>
          <ul><li>Pitched AI solutions to make Samsung Pay a comprehensive financial tool that stands out from the market.</li></ul>
          <p><b>Recommendation from my co-workers</b></p>
          <img src="https://live.staticflickr.com/65535/53142712707_a7d981af32_z.jpg" width="95%">
        </div>
      </div>
      <div id="PSP" class="tabcontent">
        <div class="position">UX Designer @ PSPinc</div>
        <div class="work-dates">Feb. 2021 - Jan. 2022 | Bellevue, WA</div>
        <div class="work-duties-section">
          <p><b>Designed and developed the front-end for a credential management tool to securely manage company credentials.</b> <a href="https://www.hungyilee.com/projects/Pass%20Wizard%20Web%20App%20Pre-release%20Launch">(View case study)</a></p>
          <ul>
            <li>Conducted user research to learn user insights, identify problem, and built a product roadmap to drive strategic vision. </li>
            <li>Delivered the MVP product, resulting in a functional and user-friendly interface that facilitated early user testing and feedback.</li>
          </ul>
          <p><b>Redesigned and developed the front-end for a web app enabling businesses enhance product’s accessibility by convey messages via audio through QR codes.</b> <a href="https://www.hungyilee.com/projects/Pass%20Wizard%20Web%20App%20Pre-release%20Launch">(View case study)</a></p>
          <ul>
            <li>User satisfaction with the product has doubled.</li>
            <li>Sales of the standard plan increased by 3% within 4 months.</li>
            <li>Scoped and delivered experience design, interface design and front-end development using HTML, CSS, and JavaScript.</li>
          </ul>
          <p><b>Redesigned and developed front-end for a file transfer website’s landing page to engage with visitors.</b></p>
          <ul>
            <li>Converted 5% of visitors into customers. </li>
            <li>Redesigned and developed the landing page, including visuals, content writing, and site navigation.</li>
          </ul>
        </div>
      </div>
      <div id="HelpArt" class="tabcontent">
        <div class="position">UX Designer @ Knack</div>
        <div class="work-dates">Jun. 2020 - Jan. 2021 | Seattle, WA</div>
        <div class="work-duties-section">
          <p><b>Designed and developed the front-end for an artwork eCommerce platform, facilitating transactions between artists and customers.</b></p>
          <ul>
            <li>Designed the user flow and the interface for the Listing page (for artists to upload their artwork), Dashboard (for artists to track their order), Artwork Gallery (for customers to search/filter/browse artworks), and Checkout (for customers to place an order on an artwork).</li>
            <li>Built a design system for UI consistency and component re-usability.</li>
            <li>Conducted user research and analysis to gain insights, thereby enhancing the decision-making in UX design. </li>
          </ul>
          <p><b>Recommendation from my mentee</b></p>
          <img src="https://live.staticflickr.com/65535/50659777202_429c49afc1_c.jpg" width="85%">
        </div>
      </div>
      <div id="P5" class="tabcontent">
        <div class="position">UX Designer Intern @ Project5</div>
        <div class="work-dates">Dec. 2019 - Jan. 2020 | Shanghai, China</div>
        <div class="work-duties-section">
          <ul>
            <li>Conducted user research on 6 unsigned musicians to collect data, including how they began their music career, what are the main pain points in the music career, how they produce music, how they promote their work, etc. This helped to define the bold direction on what service to provide to help musicians in their career.</li>
            <li>Proposed a business plan to Project5 about the Products and Services Section.</li>
            <li>Completed Wireframe and Prototype as part for the business plan.</li>
          </ul>
          <p><b>Recommendation from my supervisor</b></p>
          <img src="https://live.staticflickr.com/65535/50200797596_49337a7c5e_o.png" width="85%">
        </div>
      </div>
      <div id="ME" class="tabcontent">
        <div class="position">Web Developer @ Metro Engines</div>
        <div class="work-dates">Apr. 2018 - Dec. 2018 | Tokyo, Japan</div>
        <div class="work-duties-section">
          <ul>
            <li>Developed Metro Review, a web app that aggregates hotels’ reviews and provides an analysis to
clients with Ruby on Rails and ReactJS.</li>
          </ul>
        </div>
      </div>
    </div>
    <script>
    function openJob(evt, companyName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" tabactive", "");
      }
      document.getElementById(companyName).style.display = "block";
      evt.currentTarget.className += " tabactive";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
</div>


<!-- Experience End -->
<!-- Volunteer Begin -->
<div class="resume-section mb-resume-section">
  <div class="resume-title">Volunteer Experience</div>
    <div class="tabbox">
      <div class="voltab bs-tab sm-tab">
        <button class="voltablinks" onclick="openVol(event, 'NCCS')" id="defaultOpenVol">Code For America</button>
        <button class="voltablinks" onclick="openVol(event, 'NHCP')">Northwest Health Career Path</button>
      </div>
      <div id="NCCS" class="voltabcontent">
        <div class="position">UX Designer @ Code For America</div>
        <div class="work-dates">May. 2020 - Nov. 2020 | Chapel Hill, NC</div>
        <div class="work-duties-section">
          <ul>
            <li></li>
            <li>Worked on NC COVID Support project which helped people look for resources during COVID-19</li>
            <li>Responsible for conducting user research, delivering wireframes</li>
          </ul>
          <p><b>Recommendation from my co-worker</b></p>
          <img src="https://live.staticflickr.com/65535/50538708551_18ca35cecd_h.jpg" width="100%">
        </div>
      </div>
      <div id="NHCP" class="voltabcontent">
        <div class="position">UX Designer @ Northwest Health Career Path</div>
        <div class="work-dates">Mar. 2020 - Present | Seattle, WA</div>
        <div class="work-duties-section">
          <ul>
            <li>Created a responsive website to help underrepresented students look for opportunities in the medical field</li>
            <li>Collaborated with 4 UX designers, 5 project owners, and 4 developers</li>
            <li>Responsible for creating wireframes and visual design</li>
          </ul>
          <p><b>Recommendation from my co-workers</b></p>
          <img src="https://live.staticflickr.com/65535/50200834577_5b7f237f67_o.png" width="100%">
        </div>
      </div>
    </div>
    <script>
    function openVol(evt, Vol) {
      var i, voltabcontent, voltablinks;
      voltabcontent = document.getElementsByClassName("voltabcontent");
      for (i = 0; i < voltabcontent.length; i++) {
        voltabcontent[i].style.display = "none";
      }
      voltablinks = document.getElementsByClassName("voltablinks");
      for (i = 0; i < voltablinks.length; i++) {
        voltablinks[i].className = voltablinks[i].className.replace(" tabactive", "");
      }
      document.getElementById(Vol).style.display = "block";
      evt.currentTarget.className += " tabactive";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpenVol").click();
    </script>
</div>
<!-- Volunteer End -->
<!-- Skills Begin -->
<div class="resume-section mb-resume-section">
  <div class="resume-title">Skillset</div>
  <div class="tabbox">
    <div class="skilltab bs-tab sm-tab">
      <button class="skilltablinks" onclick="openSkill(event, 'design')" id="defaultOpenSkill">Design Skills</button>
      <button class="skilltablinks" onclick="openSkill(event, 'DT')">Design Tools</button>
      <button class="skilltablinks" onclick="openSkill(event, 'DS')">Development Skills</button>
      <button class="skilltablinks" onclick="openSkill(event, 'lan')">Languages</button>
    </div>
    <div id="design" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Design Thinking</li>
          <li>UX strategy</li>
          <li>Interaction Design</li>
          <li>Information Architecture</li>
          <li>Prototyping/Wireframing</li>
          <li>User Research</li>
          <li>Visual Design</li>
        </ul>
      </div>
    </div>
    <div id="DT" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Adobe Illustrator / Photoshop</li>
          <li>Balsamiq</li>
          <li>Figma</li>
          <li>Framer X</li>
          <li>Invision</li>
          <li>Principle</li>
          <li>Sketch</li>
          <li>Zeplin</li>
        </ul>
      </div>
    </div>
    <div id="DS" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Bootstrap</li>
          <li>CSS / SASS</li>
          <li>Git / SVN</li>
          <li>HTML</li>
          <li>Javascript / JQuery</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
    <div id="lan" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Mandarin (Native)</li>
          <li>Japanese (Advanced)</li>
          <li>English (Advanced)</li>
          <li>Korean (Beginner)</li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  function openSkill(evt, Skill) {
    var i, skilltabcontent, skilltablinks;
    skilltabcontent = document.getElementsByClassName("skilltabcontent");
    for (i = 0; i < skilltabcontent.length; i++) {
      skilltabcontent[i].style.display = "none";
    }
    skilltablinks = document.getElementsByClassName("skilltablinks");
    for (i = 0; i < skilltablinks.length; i++) {
      skilltablinks[i].className = skilltablinks[i].className.replace(" tabactive", "");
    }
    document.getElementById(Skill).style.display = "block";
    evt.currentTarget.className += " tabactive";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpenSkill").click();
  </script>
</div>
<!-- Skills End -->
<!-- Education Begin -->
<div class="resume-section mb-resume-section2">
  <div class="resume-title">Education</div>
  <div class="tabbox2">
    <div class="edutab bs-tab sm-tab">
      <button class="edutablinks" onclick="openEdu(event, 'certificate')" id="defaultOpenEdu">UX Certification</button>
      <button class="edutablinks" onclick="openEdu(event, 'ma')">Master</button>
      <button class="edutablinks" onclick="openEdu(event, 'matw')">Master</button>
      <button class="edutablinks" onclick="openEdu(event, 'ba')">Bachelor</button>
    </div>
    <div id="certificate" class="edutabcontent">
      <div class="position">UX Design Career Track Certification @ Springboard</div>
      <div class="work-dates">Aug. 2019 - Feb. 2020 | San Francisco, CA</div>
      <div class="work-duties-section">
        <ul>
          <li>Has been selected Springboard best portfolio (<a href="https://workshops.springboard.com/best-ux-student-portfolios/" target="_blank">View Here</a>)</li>
          <li>Completed 350+ hours expert-curated curriculum to master UX research and design concepts </li>
          <li>Experienced 4 weeks industry design internship to work on real-world project</li>
          <li>Delivered <a href="https://www.hungyilee.com/sideprojects/Tripik" target="_blank">Tripik mobile app</a> for capstone project</li>
          <li>Delivered <a href="https://www.hungyilee.com/sideprojects/PostUp" target="_blank">PostUp mobile app</a> with Design Sprint</li>
        </ul>
        <p><b>Recommendations from my mentor</b></p>
        <img src="https://live.staticflickr.com/65535/50199764748_6beb5bf9d3_o.png" width="85%">
      </div>
    </div>
    <div id="ma" class="edutabcontent">
      <div class="position">MA, Applied Japanese Linguistics @ Ochanomizu University</div>
      <div class="work-dates">Apr. 2015 - Mar. 2017 | Tokyo, Japan</div>
      <div class="work-duties-section">
        <ul>
          <li>Studied with full scholarship approximate $45,000</li>
          <li>Won $500 from Kanto branch 2015 Research Support Program</li>
          <li>Dissertation: The Effect of Non-CALL Glosses and CALL Glosses on Reading Comprehension and Incidental Vocabulary Learning of L2 Japanese</li>
        </ul>
      </div>
    </div>
    <div id="matw" class="edutabcontent">
      <div class="position">MA, Japanese Language and Literature @ Soochow University</div>
      <div class="work-dates">Sep. 2011 - Dec. 2013 | Taipei, Taiwan</div>
      <div class="work-duties-section">
        <ul>
          <li>Dissertation: The Acquisition of Focus Particles by Japanese Learners “Dake” and “Shika”: Focus on Compositions of LARP at SCU corpus</li>
        </ul>
      </div>
    </div>
    <div id="ba" class="edutabcontent">
      <div class="position">BA, Japanese Language and Literature @ Soochow University</div>
      <div class="work-dates">Sep. 2007 - Jun. 2011 | Taipei, Taiwan</div>
      <div class="work-duties-section"></div>
    </div>
  </div>
  <script>
  function openEdu(evt, Edu) {
    var i, edutabcontent, edutablinks;
    edutabcontent = document.getElementsByClassName("edutabcontent");
    for (i = 0; i < edutabcontent.length; i++) {
      edutabcontent[i].style.display = "none";
    }
    edutablinks = document.getElementsByClassName("edutablinks");
    for (i = 0; i < edutablinks.length; i++) {
      edutablinks[i].className = edutablinks[i].className.replace(" tabactive", "");
    }
    document.getElementById(Edu).style.display = "block";
    evt.currentTarget.className += " tabactive";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpenEdu").click();
  </script>
</div>
<!--Education End-->

<%= render 'home/back_home' %>
