<div class="section m-t-70">
  <!-- <div class="breadcrumb">
    <span class="breadcrumb-home"><%#= link_to root_path do%>Home<%#end%></span>
    <span>/</span>
    <span class="breadcrumb-active">Resume</span>
  </div> -->
  <div class="heroimage resume-hero">
    <span class="pagename">Resume</span>
    <p>This is where I present my accomplishments, background, and  skills.</p>
  </div>
</div>
<div class="resume-section">
  <div class="resume-pdfbtn">
    <%= link_to "https://drive.google.com/file/d/1pBwq-j8eqokrglA9dDrnE4Jfr9BK10Ya/view", target: "_blank" do %>
    Download PDF Resume
    <% end %>
  </div>
</div>
<div class="work-exp-section mb-resume-section4">
  <div class="resume-title">Working Experience</div>
    <div class="tabbox">
      <div class="tab bs-tab sm-tab">
        <button class="tablinks" onclick="openJob(event, 'SS')" id="defaultOpen">Samsung Electronics</button>
        <button class="tablinks" onclick="openJob(event, 'PSP')" id="defaultOpen">PSPinc</button>
        <button class="tablinks" onclick="openJob(event, 'HelpArt')">Knack</button>
        <button class="tablinks" onclick="openJob(event, 'P5')" >Project5</button>
        <button class="tablinks" onclick="openJob(event, 'ME')">Metro Engines</button>
      </div>
      <div id="SS" class="tabcontent">
        <div class="position">UX Designer III @ Samsung Electronics America</div>
        <div class="work-dates">Mar. 2022 - Present | Bellevue, WA</div>
        <div class="work-duties-section">
          <ul>
            <li>Filed Utility Patent: Successfully filed 1 utility patent for Samsung's message management design solution.</li>
            <li>AI Project Leadership: Defined strategy and led a team on an Artificial Intelligence (AI) project, driving innovation and project success.</li>
            <li>Team and Cross-Functional Collaboration: Led a team of 2 junior designers, collaborating with AT&T and Samsung Korea HQ to deliver design solutions for Android and iOS FirstNet Push-to-Talk (FNPTT), enhancing user satisfaction by over 70% and boosting task success rates by 50%.</li>
            <li>Design System Development: Established a comprehensive design system and created a symbol library, resulting in a 70% increase in work efficiency for UX designers, developers, and testers.</li>
            <li>Issue Resolution: Collaborated with developers to successfully resolve 80% of design issues in previous versions of the FNPTT app, improving overall app performance.</li>
            <li>User research: Conducted secondary research to provide foundational insights into public safety, push-to-talk, and first responder needs, enabling the team to understand 50% of the relevant domain knowledge.</li>
            <li>UX Communication: Managed user experience communications with carriers (T-Mobile, AT&T) and acted as a liaison with Samsung Korea HQ, ensuring alignment and effective collaboration.</li>
            <li>Mentorship and Training: Mentored team members in using the design system and symbol library, and guided them in generating patent and product ideas through the adoption of the design thinking process. </li>
          </ul>
          <p><b>Feedback from my co-workers</b></p>
          <img src="https://live.staticflickr.com/65535/53142712707_687506b786_o.png" width="85%">
        </div>
      </div>
      <div id="PSP" class="tabcontent">
        <div class="position">Product Designer @ PSPinc</div>
        <div class="work-dates">Feb. 2021 - Jan. 2022 | Bellevue, WA</div>
        <div class="work-duties-section">
          <ul>
            <li>Product delivery: Shipped Passwizard product (a password manager app targeting B2B clients) by delivering research, lo-fi
and high-fi prototypes, and usability testing.</li>
            <li>UI Redesign: Reduce 10% of bounce rate by redesigning the UI of the landing page MegaMail (a file transfer web app).</li>
            <li>UX Enhancement: Improved UX and UI of Click-it-Audio (a web app to integrate audio into websites) by redesigning the
            admin panel.</li>
            <li>Design System Development: Created a symbol library for various projects to create consistent UX and increase
            development efficiency.</li>
            <li>Graphics and Illustrations: Performed graphics/illustrations for social medias and websites.</li>
            <li>Front-End Development: Converted designs which are optimized for a wide range of devices and interfaces into front-end
            code using HTML5, CSS3 and Javascript.</li>
          </ul>
        </div>
      </div>
      <div id="HelpArt" class="tabcontent">
        <div class="position">UX Designer @ Knack</div>
        <div class="work-dates">Jun. 2020 - Jan. 2021 | Seattle, WA</div>
        <div class="work-duties-section">
          <ul>
            <li>Product delivery: Designed workflow for artwork eCommerce platform, including Listing (for artists to upload their
            artwork), Dashboard (for artists to track their order), Artwork Gallery (for customers to search/filter/browse artworks), and
            Checkout (for customers to place an order on an artwork).</li>
            <li>Design System Development: Defined a style guide to lay down the fundamentals for consistent UI; also, the design
            system helped to shorten development cycle due to components re-usability.</li>
            <li>User research: Conducted user research to understand artists’ behavior about selling artwork and their pain points on
            listing artwork online, to support design decisions.</li>
            <li>Mentorship and Training: Mentoring a junior front-end developer, including helping the developer to debug Ruby-on-Rails/
            CSS, reviewing the developer’s code changes, introducing better practices.</li>
          </ul>
          <p><b>Feedback from my mentee</b></p>
          <img src="https://live.staticflickr.com/65535/50659777202_429c49afc1_c.jpg" width="85%">
        </div>
      </div>
      <div id="P5" class="tabcontent">
        <div class="position">UX Designer Intern @ Project5</div>
        <div class="work-dates">Dec. 2019 - Jan. 2020 | Shanghai, China</div>
        <div class="work-duties-section">
          <ul>
            <li>Conducted user research on 6 unsigned musicians to collect data, including how they began their music career, what are the main pain points in the music career, how they produce music, how they promote their work, etc. This helped to define the bold direction on what service to provide to help musicians in their career.</li>
            <li>Proposed a business plan to Project5 about the Products and Services Section.</li>
            <li>Completed Wireframe and Prototype as part for the business plan.</li>
          </ul>
          <p><b>Feedback from my supervisor</b></p>
          <img src="https://live.staticflickr.com/65535/50200797596_49337a7c5e_o.png" width="85%">
        </div>
      </div>
      <div id="ME" class="tabcontent">
        <div class="position">Web Developer @ Metro Engines</div>
        <div class="work-dates">Apr. 2018 - Dec. 2018 | Tokyo, Japan</div>
        <div class="work-duties-section">
          <ul>
            <li>Front-End Development: Developed Metro Review, a web app that aggregates hotels’ reviews and provides an analysis to
clients with Ruby on Rails and ReactJS.</li>
          </ul>
        </div>
      </div>
    </div>
    <script>
    function openJob(evt, companyName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" tabactive", "");
      }
      document.getElementById(companyName).style.display = "block";
      evt.currentTarget.className += " tabactive";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
</div>


<!-- Experience End -->
<!-- Volunteer Begin -->
<div class="resume-section mb-resume-section">
  <div class="resume-title">Volunteer Experience</div>
    <div class="tabbox">
      <div class="voltab bs-tab sm-tab">
        <button class="voltablinks" onclick="openVol(event, 'NCCS')" id="defaultOpenVol">Code For America</button>
        <button class="voltablinks" onclick="openVol(event, 'NHCP')">Northwest Health Career Path</button>
      </div>
      <div id="NCCS" class="voltabcontent">
        <div class="position">UX Designer @ Code For America</div>
        <div class="work-dates">May. 2020 - Nov. 2020 | Chapel Hill, NC</div>
        <div class="work-duties-section">
          <ul>
            <li></li>
            <li>Worked on NC COVID Support project which helped people look for resources during COVID-19</li>
            <li>Responsible for conducting user research, delivering wireframes</li>
          </ul>
          <p><b>Feedback from my co-worker</b></p>
          <img src="https://live.staticflickr.com/65535/50538708551_18ca35cecd_h.jpg" width="100%">
        </div>
      </div>
      <div id="NHCP" class="voltabcontent">
        <div class="position">UX Designer @ Northwest Health Career Path</div>
        <div class="work-dates">Mar. 2020 - Present | Seattle, WA</div>
        <div class="work-duties-section">
          <ul>
            <li>Created a responsive website to help underrepresented students look for opportunities in the medical field</li>
            <li>Collaborated with 4 UX designers, 5 project owners, and 4 developers</li>
            <li>Responsible for creating wireframes and visual design</li>
          </ul>
          <p><b>Feedback from my co-workers</b></p>
          <img src="https://live.staticflickr.com/65535/50200834577_5b7f237f67_o.png" width="100%">
        </div>
      </div>
    </div>
    <script>
    function openVol(evt, Vol) {
      var i, voltabcontent, voltablinks;
      voltabcontent = document.getElementsByClassName("voltabcontent");
      for (i = 0; i < voltabcontent.length; i++) {
        voltabcontent[i].style.display = "none";
      }
      voltablinks = document.getElementsByClassName("voltablinks");
      for (i = 0; i < voltablinks.length; i++) {
        voltablinks[i].className = voltablinks[i].className.replace(" tabactive", "");
      }
      document.getElementById(Vol).style.display = "block";
      evt.currentTarget.className += " tabactive";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpenVol").click();
    </script>
</div>
<!-- Volunteer End -->
<!-- Skills Begin -->
<div class="resume-section mb-resume-section">
  <div class="resume-title">Skillset</div>
  <div class="tabbox">
    <div class="skilltab bs-tab sm-tab">
      <button class="skilltablinks" onclick="openSkill(event, 'design')" id="defaultOpenSkill">Design Skills</button>
      <button class="skilltablinks" onclick="openSkill(event, 'DT')">Design Tools</button>
      <button class="skilltablinks" onclick="openSkill(event, 'DS')">Development Skills</button>
      <button class="skilltablinks" onclick="openSkill(event, 'lan')">Languages</button>
    </div>
    <div id="design" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Information Architecture</li>
          <li>Prototyping</li>
          <li>User Research</li>
          <li>Usability Testing</li>
          <li>Visual Design</li>
          <li>Web Design</li>
          <li>Wireframing</li>
        </ul>
      </div>
    </div>
    <div id="DT" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Adobe Illustrator / Photoshop / XD</li>
          <li>Balsamiq</li>
          <li>Figma</li>
          <li>Framer X</li>
          <li>Invision</li>
          <li>Principle</li>
          <li>Sketch</li>
          <li>Zeplin</li>
        </ul>
      </div>
    </div>
    <div id="DS" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Bootstrap</li>
          <li>CSS / SASS</li>
          <li>Git / SVN</li>
          <li>HTML</li>
          <li>Invision</li>
          <li>Javascript / JQuery</li>
          <li>Ruby on Rails</li>
          <li>Wordpress</li>
        </ul>
      </div>
    </div>
    <div id="lan" class="skilltabcontent">
      <div class="work-duties-section">
        <ul>
          <li>Mandarin (Native)</li>
          <li>Japanese (Advanced)</li>
          <li>English (Advanced)</li>
          <li>Korean (Beginner)</li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  function openSkill(evt, Skill) {
    var i, skilltabcontent, skilltablinks;
    skilltabcontent = document.getElementsByClassName("skilltabcontent");
    for (i = 0; i < skilltabcontent.length; i++) {
      skilltabcontent[i].style.display = "none";
    }
    skilltablinks = document.getElementsByClassName("skilltablinks");
    for (i = 0; i < skilltablinks.length; i++) {
      skilltablinks[i].className = skilltablinks[i].className.replace(" tabactive", "");
    }
    document.getElementById(Skill).style.display = "block";
    evt.currentTarget.className += " tabactive";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpenSkill").click();
  </script>
</div>
<!-- Skills End -->
<!-- Education Begin -->
<div class="resume-section mb-resume-section2">
  <div class="resume-title">Education</div>
  <div class="tabbox2">
    <div class="edutab bs-tab sm-tab">
      <button class="edutablinks" onclick="openEdu(event, 'certificate')" id="defaultOpenEdu">UX Certification</button>
      <button class="edutablinks" onclick="openEdu(event, 'ma')">Master</button>
      <button class="edutablinks" onclick="openEdu(event, 'matw')">Master</button>
      <button class="edutablinks" onclick="openEdu(event, 'ba')">Bachelor</button>
    </div>
    <div id="certificate" class="edutabcontent">
      <div class="position">UX Design Career Track Certification @ Springboard</div>
      <div class="work-dates">Aug. 2019 - Feb. 2020 | San Francisco, CA</div>
      <div class="work-duties-section">
        <ul>
          <li>Has been selected Springboard best portfolio (<a href="https://workshops.springboard.com/best-ux-student-portfolios/" target="_blank">View Here</a>)</li>
          <li>Completed 350+ hours expert-curated curriculum to master UX research and design concepts </li>
          <li>Experienced 4 weeks industry design internship to work on real-world project</li>
          <li>Delivered <a href="https://www.hungyilee.com/sideprojects/Tripik" target="_blank">Tripik mobile app</a> for capstone project</li>
          <li>Delivered <a href="https://www.hungyilee.com/sideprojects/PostUp" target="_blank">PostUp mobile app</a> with Design Sprint</li>
        </ul>
        <p><b>Recommendations from my mentor</b></p>
        <img src="https://live.staticflickr.com/65535/50199764748_6beb5bf9d3_o.png" width="85%">
      </div>
    </div>
    <div id="ma" class="edutabcontent">
      <div class="position">MA, Applied Japanese Linguistics @ Ochanomizu University</div>
      <div class="work-dates">Apr. 2015 - Mar. 2017 | Tokyo, Japan</div>
      <div class="work-duties-section">
        <ul>
          <li>Studied with full scholarship approximate $45,000</li>
          <li>Won $500 from Kanto branch 2015 Research Support Program</li>
          <li>Dissertation: The Effect of Non-CALL Glosses and CALL Glosses on Reading Comprehension and Incidental Vocabulary Learning of L2 Japanese</li>
        </ul>
      </div>
    </div>
    <div id="matw" class="edutabcontent">
      <div class="position">MA, Japanese Language and Literature @ Soochow University</div>
      <div class="work-dates">Sep. 2011 - Dec. 2013 | Taipei, Taiwan</div>
      <div class="work-duties-section">
        <ul>
          <li>Dissertation: The Acquisition of Focus Particles by Japanese Learners “Dake” and “Shika”: Focus on Compositions of LARP at SCU corpus</li>
        </ul>
      </div>
    </div>
    <div id="ba" class="edutabcontent">
      <div class="position">BA, Japanese Language and Literature @ Soochow University</div>
      <div class="work-dates">Sep. 2007 - Jun. 2011 | Taipei, Taiwan</div>
      <div class="work-duties-section"></div>
    </div>
  </div>
  <script>
  function openEdu(evt, Edu) {
    var i, edutabcontent, edutablinks;
    edutabcontent = document.getElementsByClassName("edutabcontent");
    for (i = 0; i < edutabcontent.length; i++) {
      edutabcontent[i].style.display = "none";
    }
    edutablinks = document.getElementsByClassName("edutablinks");
    for (i = 0; i < edutablinks.length; i++) {
      edutablinks[i].className = edutablinks[i].className.replace(" tabactive", "");
    }
    document.getElementById(Edu).style.display = "block";
    evt.currentTarget.className += " tabactive";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpenEdu").click();
  </script>
</div>
<!--Education End-->

<%= render 'home/back_home' %>
